* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir", "Helvetica";
}


/* Figma Design */  
@media (min-width: 1600px) {

  html, body {
    position: relative;
    width: 1600px;
    height: 4350px;

    border: 1px solid green;
  }

  /** Section 1 **/
  .section-1 {
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 47px;

    /* border: 1px dashed lightblue; */
  }

  .top {
    position: absolute;
    width: 1120px;
    height: 60px;

    /* border: 1px solid blue; */
  }

  .logo {
    position: absolute;
    width: 49px;
    height: 35px;
    left: 0;
    top: 12px;

    /* border: 1px solid green; */
  }
  
  .rectangle-32 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    background: #9C69E2;
    border-radius: 20px;
  }

  .rectangle-33 {
    position: absolute;
    width: 20px;
    height: 35px;
    right: 0;
    background: #F063B8;
    border-radius: 20px;
  }

  nav {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 170px;
    top: 15px;

    /* border: 1px solid hotpink; */
  }

  li {
    position: absolute;
    display: inline-block;
    list-style: none;
  }

  .about {
    width: 53px;
    height: 30px;
    left: 0;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;

    /* border: 1px solid black; */
  }
  
  .help {
    width: 35px;
    height: 26px;
    left: 93px;
    top: 2px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    
    /* border: 1px solid black; */
  }
  
  .features {
    width: 63px;
    height: 26px;
    left: 168px;
    top: 2px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #212353;

    /* border: 1px solid black; */
  }
  
  .signup {
    width: 51px;
    height: 26px;
    left: 271px;
    top: 2px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
  
    /* border: 1px solid black; */
  }
  
  .btn-request-demo {
    position: absolute;
    width: 210px;
    height: 60px;
    right: 0;

    /* border: 1px solid black; */
  }

  .rectangle-26 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;

     /* border: 1px solid black; */
  }

  .request-demo-container {
    position: absolute;
    width: 152px;
    height: 26px;
    top: 17px;
    left: 29px;

    /* border: 1px dotted black; */
  }

  .request-demo-container p {
    position: absolute;
    width: 112px;
    height: 26px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;

    /* border: 1px dotted blue; */
  }

  .right-arrow {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 5px;
    right: 0;
    
    /* border: 1px dotted black; */
  }

  .arrow-line {
    position: absolute;
    top: 6px;
  }

  .arrow-head {
    position: absolute;
    width: 6px;
    height: 14px;
    right: -2px;
  }

  .headline {
    position: absolute;
    width: 645px;
    height: 464px;
    left: 0;
    top: 190px;
    
    /* border: 1px dotted black; */
  }
  
  .headline h1 {
    position: absolute;
    width: 645px;
    height: 184px;
    top: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;

    /* border: 1px dotted blue; */
  }

  .headline article {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 0;
    top: 234px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;

    /* border: 1px dotted dodgerblue; */
  }

  .btn-headline {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 404px;
    left: 0;

    /* border: 1px dotted violet; */
  }

  .btn-headline .rectangle-26 {
    position: absolute;
    width: 100%;
    height: 100%;        
    left: 0;
    top: 0;
    background: #9C69E2;
    border-radius: 50px;

    /* border: 1px solid black; */
  }

  .btn-headline p {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 37px;
    top: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    /* border: 1px solid red; */
  }

  .img-1-container {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 363px;
    top: 286px;
    
    /* border: 1px solid black; */
  }  

  .img-1-container img {
    width: 100%;
    height: auto;
  }

  /** Section 2 **/
  .section-2 {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;

    /* border: 1px dashed lightblue; */
  }

  .rectangle-34 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;

    /* border: 1px solid black; */
  }

  .section-2-text-container {
    position: absolute;
    width: 475px;
    height: 310px;
    top: 125px;
    left: 550px;

    /* border: 1px solid black; */
  }

  .section-2-text-container h2 {
    position: absolute;
    width: 475px;
    height: 100px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    
    /* border: 1px solid black; */
  }

  .section-2-text-container article {
    position: absolute;
    width: 474px;
    height: 170px;
    top: 140px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;

    /* border: 1px solid black; */
  }
    
  .img2-container {
    position: absolute;
    width: 477px;
    height: 504px;
    left: 11px;
    top: 31.82px;
    
    /* border: 1px solid black; */
  }

  .img2-container img {
    width: 100%;
    height: auto;
  }
  
  /** Section 3 **/
  .section-3 {
    position: absolute;
    width: 1137.28px;
    height: 1026px;
    left: 220px;
    top: 1613px;

    border: 1px dashed lightblue;
  }

  .section-3-title {
    position: absolute;
    width: 584px;
    height: 160px;
    top: 0;
    left: 267.29px;

    /* border: 1px solid black; */
  }

  .section-3-title h3 {
    position: absolute;
    width: 405px;
    height: 52px;
    top: 0;
    left: 89px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #212353;

    /* border: 1px black solid; */
  }

  .section-3-title article {
    position: absolute;
    width: 584px;
    height: 58px;
    top: 102px;
    left: 0;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;

    /* border: 1px solid black; */
  }

  .section-3-box1 {
    position: absolute;
    width: 531.29px;
    height: 388px;
    top: 230px;
    left: 19px;

    /* border: 1px solid black; */
  }

  .section-3-box1 .rectangle-39-container {
    position: absolute;
    width: 442px;
    height: 358px;
    right: 0;
    bottom: 0;

    /* border: 1px solid green; */
  }

  .rectangle-39-container > img {
    position: absolute;
    right: 0;

    /* border: 1px solid black; */
  }

  .section-3-box1 > .vector-56-container {
    position: absolute;
    width: 240px;
    height: 227.99px;
    right: 0;

    /* border: 1px solid black; */
  }
  
  .section-3-box1 > .vector-56-container > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid black; */
  }

  .section-3-box1 > .ellipse-61-container {
    position: absolute;
    width: 38.57px;
    height: 30.54px;
    left: 375.35px;
    top: 73.88px;

    /* border: 1px solid black; */
  }

  .section-3-box1 > .ellipse-61-container > img {
    position: absolute;
    width: 33.7px;
    height: 19.91px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid green; */
  }

  .section-3-box1 > h4 {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 79px;
    left: 261.29px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;

    /* border: 1px solid black; */
  }

  .section-3-box1 > article {
    position: absolute;
    width: 220px;
    height: 160px;
    top: 149px;
    left: 261.29px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;

    /* border: 1px solid black; */
  }

  .img3-container {
    position: absolute;
    width: 232px;
    height: 211px;
    left: 0;
    top: 103px;

    /* border: 1px solid black; */
  }

  .img3-container > img {
    width: 100%;
    height: auto;
  }

  .btn-section-3 {
    position: absolute;
    width: 127px;
    height: 26px;
    top: 329px;
    left: 261.29px;

    /* border: 1px solid black; */
  }

  .btn-section-3 p {
    position: absolute;
    width: 87px;
    height: 26px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;

    /* border: 1px solid blue; */
  }
  
  .section-3-box2 {
    position: absolute;
    width: 544.28px;
    height: 394.56px;
    top: 260px;
    left: 593px;

    /* border: 1px solid black; */
  }

  .section-3-box2 .rectangle-39-container {
    position: absolute;
    width: 442px;
    height: 358px;
    right: 0;

    /* border: 1px solid black; */
  }

  .section-3-box2 .rectangle-39-container > img {
    position: absolute;
    right: 0;
  }

  .section-3-box2 > .vector-56-container {
    position: absolute;
    width: 249px;
    height: 248.56px;
    top: 146px;
    right: 0;

    /* border: 1px solid black; */
    /* background: blue; */
  }

  .section-3-box2 > .vector-56-container > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid green; */
  }

  .section-3-box2 > h4 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 274.28px;
    top: 49px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;

    /* border: 1px solid black; */
  }

  .section-3-box2 > article {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 274.28px;
    top: 119px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;

    /* border: 1px solid black; */
  }

  .img4-container {
    position: absolute;
    width: 241px;
    height: 185px;
    left: 0;
    top: 71px;

    /* border: 1px solid black; */
  }

  .img4-container > img {
    width: 100%;
    height: auto;
  }

  .section-3-box2 > .btn-section-3 {
    left: 274.28px;
    top: 299px;

    /* border: 1px solid black; */
  }

  .section-3-box2 > .btn-section-3 > p {
    font-weight: 900;
  }
  


  
  .section-3-box3 {
    position: absolute;
    width: 550.28px;
    height: 358px;
    left: 0;
    top: 668px;

    border: 1px solid black;
  }





  .section-3-box4 {
    position: absolute;
    width: 539.28px;
    height: 364px;
    top: 662px;
    left: 598px;

    border: 1px solid black;
  }




  /** Section 4 **/
  .section-4 {
    position: absolute;
    width: 1600px;
    height: 613px;
    left: 0px;
    top: 3648px;

    border: 1px dashed lightblue;
  }






  /** Section 5 **/
  .section-5 {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2789px;

    border: 1px dashed lightblue;
  }


}
